/* no incluir etiqueta <style> */
body{
    background-color: antiquewhite;
}
p{
    color:darkorange;
    font-size: 30px;            
    text-align: justify;
    /* comentario solo para js y css*/
}
h1{
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.pConBorde
{
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-top: 100px;
    margin-left: -50px;
    margin-top: 50px;

}